     <div id="nav-placeholder">
        <ul class = "header">
        <li><a href="/">Home</a></li>
        <li><a href="/urls/new">New URL</a></li>
        <li><a href="/urls">All url</a></li>
     </ul>
    </div>
  <form action="/login" method="POST" style="text-align:left;">
    <label for="username">Name :</label>
      <input id="username" style="width:100px" placeholder="name" name="username">
      <input type="submit" value="Submit">
    <h3 style="display: inline;"><% if (username){%>
      <%= username %>
      <% } %>
    </h3>
  </form>
    <h1 class="start", id="startingText">Tiny URL</h1>