     <div id="nav-placeholder">
        <ul class = "header">
        <li><a href="/">Home</a></li>
        <li><a href="/urls/new">New URL</a></li>
        <li><a href="/urls">Your urls</a></li>
        <li style="float: right"><a href="/register">Register</a></li>
        <% if (user_id === undefined) {%>
        <li style="float: right"><a href="/login">Login</a></li>
        <% } else { %>
        <li style="float: right"><a href="/logout">Logout</a></li>
        <% } %>
     </ul>
    </div>
    <%if (user_id === undefined ) {%>
    <h4>Hello, please login to access to the URL shortener</h4>
    <% } else if (!users.hasOwnProperty(user_id)) { %>
    <h2 style = "text-align: center;"> Please logout first </h2>
    <% } else { %>
    <h2 style="text-align: center;">Welcome, <%= users[user_id].email %> !</h2>
    <% } %>
  <img src="http://t04.deviantart.net/e9VibGT3v5ArWM9TzK3rIbCt2tA=/300x200/filters:fixed_height(100,100):origin()/pre04/656f/th/pre/i/2011/291/a/4/vector__skyblue_quill_pen_by_fennrick-d4d97pb.png" style="display:block; margin: 0 auto; height:100px; width: 95px;">