body {
  font-family: Tahoma;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/f9/50/8c/f9508cde9276bccbac3b51ef27f0d798.gif");
  background-size: 100%;
  /*background-image: url("https://68.media.tumblr.com/040d77e95e37f05fbc14b0b8ae3d3177/tumblr_opsismTLqh1vghf22o1_400.gif");*/
  /*background-image: url("https://s-media-cache-ak0.pinimg.com/originals/28/66/10/2866109a7e9dcf3077de47777b1e3a60.gif");*/
  display: block;
  color : white;
}

.start{
  height: 100px;
  background-color: #aabfe2;
  padding-top: 40px;
  margin-top: 0px;
}

#startingText {
  text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2cd0f9;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.url:visited{
  color: #2cd0f9;
}

li a:visited{
  color: white;
  text-decoration: none;

}

li a:hover{
  background-color: #0ca7ce;
}

a {
  text-decoration: none;
  color: #2cd0f9;
}

#direction a{
  text-decoration: none;
}

#direction {
  height: 50px;
  color: white;
  margin: 0;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

button.btn.delete::before {
  font-family: fontAwesome;
  content: "\f014\00a0";
}

button.btn.edit::before{
  font-family: fontAwesome;
  content:"\f044\00a0";
}

button.btn.submit::before{
  font-family:fontAwesome;
  content:"\f1d8\00a0";
}

button.btn.login::before {
  font-family: fontAwesome;
  content: "\f090\00a0";
}

button.btn.register::before {
  font-family: fontAwesome;
  content: "\f007\00a0";
}


h4 {
  text-align: center;
}

form {
  text-align:center;
  margin: 20px;
}

