body {
  background-color: lightblue;
  display: block;
}

.start{
  height: 100px;
  background-color: #aabfe2;
  padding-top: 40px;
  margin-top: 0px;
}

#startingText {
  text-align: center;
  font-family: sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.url:visited{
  color: blue;
}

li a:visited{
  color: white;
  text-decoration: none;
}

li a:hover{
  background-color: gray;
}

a {
  text-decoration: none;
}

#direction a{
  text-decoration: none;
  color: gray;
}

#direction {
  height: 50px;
  color: black;
  margin: 0;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

button.btn.delete::before {
  font-family: fontAwesome;
  content: "\f014\00a0";
}

button.btn.edit::before{
  font-family: fontAwesome;
  content:"\f044\00a0";
}

button.btn.accept::before{
  font-family:fontAwesome;
  content:"\f00c\00a0";
}

h4 {
  text-align: center;
}

form {
  text-align:center;
  margin: 20px;
}