<!DOCTYPE html>
<html lang = "en">
  <head>
  <%- include ./partials/_head %>
  </head>
  <body>
    <%- include ./partials/_navbar %>

    <h1 id="startingText">Welcome to TinyApp!</>
    <h2 id="direction">To go to create a short URL, go to : <a href = "/urls/new">New URL</a>
    </h2>

  </body>
</html>