<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include ./partials/_head %>
  </head>
  <body>
    <%- include ./partials/_navbar %>
    <h1 style="text-align: center;"> Register</h1>

    <table>
    <form action="/register" method="POST" style="margin:150px; margin-top: 50px;">
      <tr><th><label for="username" style="">   Username :</label></th></tr>
      <tr><th><input id="username" type="username" name="username" style="width: 300px;"></th></tr>
      <tr><th><label for="email" style="">   Email :</label></th></tr>
      <tr><th><input id="email" type="email" name="email" style="width: 300px;"></th></tr>
      <tr><th><label for="Password :">Password :</label></th></tr>
      <tr><th><input id="password" type="password" name="password" style="width: 300px;"></th></tr>
      <tr><th><button class="btn submit" type="submit">Submit</button></th></tr>
      </form>
    </table>
  </body>
</html>