<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <% include partials/_header %>
        <div>
      <ul class = "header">
        <li><a href="/">Home</a></li>
        <li><a href="/urls/new">New URL</a></li>
        <li><a href="/urls">All url</a></li>
        <li><a href="/u">Redirect</a></li>
      </ul>
    </div>
    <h1 class="start">Tiny URL</h1>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://www.example.com" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>