<!DOCTYPE html>
<html lang = "en">
  <head>
  <%- include ./partials/_header %>
    <title>
      TinyApp
    </title>
  </head>
  <body>
<!--     <table>
      <tr>
        <tr>urls</tr>
        <tr>shortened urls</tr>
      </tr>
      <tr>
        <th>"http://www.lighthouselabs.ca"</th>
        <th>"b2xVn2"</th>
      </tr>
      <tr>
        <th>"http://www.google.com"</th>
        <th>"9sm5xK"</th>
      </tr>
      </table>-->
      <table>
      <% for (let shortones in urls) { %>
        <tr><th><%= urls[shortones] %></th></tr>
      <% } %>
      </table>
      <h1><%= urls['9sm5xK'] %></h1>
      <a href="/urlshortener">URL shortener</a>
  </body>
</html>