<!DOCTYPE html>
<html lang = "en">
  <head>
  <%- include ./partials/_header %>
    <title>
      TinyApp
    </title>
  </head>
  <body>
    <h2 id="direction">All URL</h2>
    <table>
    <% for (let shortones in urls) { %>
      <tr><th><%=shortones + ":" + urls[shortones] %></th></tr>
    <% } %>
    </table>
    <a href="/urls/new">URL shortener</a>
  </body>
</html>