<!DOCTYPE html>
<html lang = "en">
  <head>
  <%- include ./partials/_head %>
  </head>
  <body>
    <%- include ./partials/_navbar %>

    <h1 id="startingText">Error : forbidden action</>
    <h2 id="direction">To return to the Main Page : <a href = "/" face = "Times New Roman">Home</a>
    </h2>

  </body>
</html>