<!DOCTYPE html>
<html lang = "en">
  <head>
  <%- include ./partials/_header %>
    <title>
      TinyApp
    </title>
  </head>
  <body>
    <div>
      <ul class = "header">
        <li><a href="/">Home</a></li>
        <li><a href="/urls/new">New URL</a></li>
        <li><a href="/urls">All url</a></li>
        <li><a href="/u">Redirect</a></li>
      </ul>
    </div>
    <h1 class="start">Tiny URL</h1>
    <h2 id="direction">To go to create a short URL, go to : <a href = "/urls/new" face = "Times New Roman">New URL</a>
    </h2>

  </body>
</html>