<!DOCTYPE html>
<html lang = "en">
  <head>
  <%- include ./partials/_header %>
    <title>
      TinyApp
    </title>
  </head>
  <body>
    <h1>Welcome to URL shortener !</h1>
    <h2>To go to create a short URL, go to :</h2>
    <a href = "/urls/new" face = "Times New Roman">New URL</a>
  </body>
</html>