<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include ./partials/_head %>
  </head>
  <body>
    <%- include ./partials/_navbar %>
    <h1 style="text-align: center;"> Login</h1>
    <% if (login == true){ %>
    <h2 style="text-align: center">Please try again</h2>
    <% } %>
    <table>
    <form action="/login" method="POST" style="margin:150px; margin-top: 50px; text-align: center;">
      <tr><th><label for="email" style="">   Email :</label></th></tr>
      <tr><th><input id="email" type="email" name="email" style="width: 300px;"></th></tr>
      <tr><th><label for="Password :">Password :</label></th></tr>
      <tr><th><input id="password" type="password" name="password" style="width: 300px;"></th></tr>
      <tr><th><button class="btn submit" type="submit">Submit</button></th></tr>
      </form>
      <form method="GET" action="/register">
      <tr><th><h3>Don't have an account ? <button class="btn register" type="submit">Sign up!</button></h3></th></tr>
      </form>
    </table>
  </body>
</html>